* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background-color: #f9f9f9;
    color: #333;
}

.main-container {
    flex: 1;
    padding: 20px;
}


    .edit-form {
        background: #fff; /* Fondo blanco */
        padding: 80px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        margin-bottom: 20px; /* Espacio inferior */
        max-width: 800px; /* Ancho máximo del formulario */
        margin: 0 auto; /* Centra el formulario */
    }



.user-table {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-form .btn-update,
.edit-form .btn-delete {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-form .btn-update {
    background-color: #3498db;
    color: white;
}

.edit-form .btn-update:hover {
    background-color: #2980b9;
}

.edit-form .btn-delete {
    background-color: #e74c3c;
    color: white;
}

.edit-form .btn-delete:hover {
    background-color: #c0392b;
}

.user-table h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-table ul {
    list-style: none;
    padding: 0;
}

.user-table li {
    background: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.user-table li:hover {
    background-color: #bdc3c7;
}
.alert {
    background-color: #d4edda;
    color: #155724; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
}